/*
* Layout
*/

/* delete this stuff - merely for appbar testing purposes */

html, body {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    height: 100%;
    width: 100%;
    
    text-align: center;

    font-family: sans-serif;
}

body {
    background: url('/assets/images/sample-article.png') top center no-repeat;
    background-size: cover;
}

/* end */

.nim-carousel {
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns:  1fr;
    -ms-grid-rows: 100px 50px 1fr 300px;
}

.nim-carousel nav {
    background: url('/assets/images/01_background.png') top left no-repeat;
    background-size: cover;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.nim-carousel #title-bar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.nim-carousel #carousel {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.nim-carousel #description-block {
  -ms-grid-column: 1;
  -ms-grid-row: 4;
}

/*
* Header & Nav
*/
.nim-carousel nav {
    text-align: left;
    padding: 0px 50px;
}
.nim-carousel nav .back { 
    height: 100px;
    display: inline-block;
    margin-right: 30px;
}
.nim-carousel .back object {
    margin-top: 25px;
}
.nim-carousel nav h1 {
    display: inline;
    height: 100px;
    position: relative;
    top: -8px;
    color: #fff;
    font-size: 32pt;
}

/*
* Coverflow
*/


.nim-carousel #carousel {
    position: relative;
}

.nim-carousel .item {
    perspective: 600px;
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    
    width: 170px;
    height: 170px;
    
    margin-left: -85px;
    margin-top: -90px;
    
    background-size: 100%;
    background-repeat: no-repeat;
   
    transform-style: preserve-3d;
   
    transition: all 300ms ease-in; 

    

}
.nim-carousel .item-image {
    width: 170px;
    height: 170px;
    display: block;
   
    transform-style: preserve-3d;
   
    transition: all 300ms ease-in;
}
.nim-carousel .item-image.hidden {
  background: #fff !important;
}


.nim-carousel #title-bar {
    background: #666;
display: block;

}
.nim-carousel #title-bar title {
  display: inline-block;
  color: black;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  height: 50px;
  line-height: 50px;
  color: #ccc;
  transition: all 300ms ease-in;
  font-size: large;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nim-carousel #title-bar title.title-active {
color: #fff;
font-weight: bold;
font-size: x-large;
}
.nim-carousel #coverflow-titles {

  width: 100%;
  height: 50px;
  text-align: center;
}

/*
* Description
*/

.nim-carousel #description-block {
  color: #fff;
  text-align: left;
  width: 30%;
  margin: 0px auto;
}
.nim-carousel #description-block title {
  font-size: 26pt;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}










​